<div>
    <% if(!admin) { %>
        <h2>You are not authorized to use this feature</h2>
    <% } %>
    <% if(admin) { %>
	 <div class="col-sm-12">
		<form name="searchAccountsForm" ng-submit="getAccountsList($event)" novalidate class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<input type="text" name="searchParam" ng-model="manageAccountList.searchParam" placeholder="Enter Email or Username or Name" class="form-control" required>
					<span style="color:red" ng-show="searchAccountsForm.searchParam.$invalid">
						<span ng-show="submitted && searchAccountsForm.searchParam.$error.required">Search field can not be empty</span>
					</span>
				</div>
				<div class="col-sm-2">
					<input type="submit" value="search" class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>

	<div class="col-sm-12" ng-if="!dataReadSuccess">
		<h2> Please enter something in the search field to disply data</h2>
	</div>

	<div class="col-sm-12" ng-hide="!(accountsList.length === 0 && dataReadSuccess)">
		<h2> No Data found </h2>
	</div>
 
	<div class="col-sm-12" ng-hide="accountsList.length === 0">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th ng-repeat="header in accountsListHeaders">
						{{header}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in accountsList">
					<td>{{$index+1}}</td>
					<td>
						<a ui-sref="adminOPs.userDetail({userID:user.username})">{{user.name}}</a>
					</td>
					<td>{{user.email}}</td>
					<td>{{user.username}}</td>
					<td>
						<span ng-class="{'text-success':user.opState == 'ACTIVE' || user.opState == 'INACTIVE'  , 'text-danger':user.opState == 'LOCKED'}">{{user.opState}}</span>
					</td>
					<td>
						<button class="btn btn-primary" ng-click="lockUnlockAccount(user)">{{user.action}}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <% } %>
</div>